body {
    background-color: lavender;
    padding: 4em;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
}

h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

form {
    border: 1px solid grey;
    padding: 1em;
    display: block;
    max-width: 10em;
    border-radius: 0.3em;
}

a {
    text-decoration: none;
    border: 1px solid blueviolet;
    padding: 1em;
    border-radius: 0.3em;
}