body {
    background-color: lavender;
    padding: 4em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
}

form {
    border: 1px solid grey;
    padding: 1em;
    display: block;
    max-width: 10em;
    border-radius: 0.3em;
}

ul {
    border: 1px solid blueviolet;
}

li {
    margin: 1em;
}

a {
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 1px solid blueviolet;
    border-radius: 0.3em;
}