body {
    background-color: lavender;
    padding: 4em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
}

form {
    border: 1px solid grey;
    padding: 1em;
    display: block;
    max-width: 10em;
    border-radius: 0.3em;
}

ul {

    border: 1px solid rgb(0, 0, 0);
    border-radius: 0.3em;
}

li {
    list-style: none;    
    margin: 2em;

    border-radius: 0.3em;    
    box-shadow: 10px 5px 5px rgb(205, 205, 205);
}

.datos_cliente {
    display: inline-block;
    min-width: 80%;

    padding: 1em 1em 1em 0em;
}



.botones_li {
    display: inline-block;
    max-width: 15em;
    padding: 1em;
}

a {
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 1px solid rgb(40, 10, 67);
    border-radius: 0.3em;
    padding: 0.5em;
}

a:hover {
    background-color: chocolate;
    color: blanchedalmond;
}