:root {
    --morado1: #F7F6FF;
    --morado2: #CECAF8;
    --morado3: #A69FEA;
    --morado4: #8077D7;
    --morado5: #5D54BC;
    --morado6: #373270;

    --amarillo1: #FFFEF5;
    --amarillo2: #FFFBF5;
    --amarillo3: #FFFCC9;
    --amarillo4: #FFF9A0;
    --amarillo5: #FFF77B;

    --naranja1: #FFFEF5;
    --naranja2: #FFEAC9;
    --naranja3: #FFD9A0;
    --naranja4: #FFCB7B;
    --naranja5: #FFBE5B;
    --naranja6: #341f00;
}

body {
    padding: 4em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--morado6);
}

h1 {
    background: linear-gradient(to left, transparent, var(--naranja2) 90%);
}

h1,
h2,
h3 {
    letter-spacing: 3px;
    padding: 0.3em;
    padding-left: 2em;
    border-radius: 0.3em;
    margin-bottom: 1em;
}

nav a {
    margin-left: 1em;
    text-align: center;
    letter-spacing: 2px;
    padding: 0.3em;
    min-width: 10em;
    display: inline-block;
    border-radius: 0.5em 0.5em 0.2em 0.2em;
    transition-property: all;
    transition-property: transform;
    transition-duration: 0.5s;
}

a,
.formButton,
.tableButton {
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 2px outset var(--morado3);
    border-radius: 0.3em;
    color: var(--morado5);
    background-color: var(--morado1);
    transition-property: all;
    transition-property: transform;
    transition-duration: 1s;
    text-transform: uppercase;
    cursor: pointer;
}

a:hover,
.formButton:hover,
.tableButton:hover {
    background-color: var(--amarillo3);
    color: var(--naranja6);
    box-shadow: 2px 2px 2px var(--morado4);
}

.selected {
    background-color: var(--morado4);
    color: var(--morado1);
}

form {
    border-radius: 0.3em;
}

.form_horizontal {
    padding: 1em;
    background-color: var(--amarillo2);
    display: flex;
    width: max-content;
    vertical-align: middle;
    padding-right: 1em;
    box-shadow: 1px 1px 4px var(--morado3);
    margin-bottom: 2em;
}

.form_horizontal label {
    margin-left: 3em;
}

.form_horizontal input:last-child {
    margin-left: 6em;
    margin-right: 1em;
}

.select_titulos {
  min-width: 40em;
  margin-right: 2em;
}

fieldset {
    border: transparent;
}

.formButton {
    padding: 0.8em;
}

table {
    border: 2px outset var(--morado3);
    background-color: var(--morado1);
    border-radius: 0.3em;
    box-shadow: 1px 1px 4px var(--morado2);
}

tr {
    padding: 1em;
    height: 4em;
}

#cabecera {
    font-weight: bold;
    color: var(--morado6);
    background-color: var(--morado1);
}

tr:nth-child(odd) {
    background-color: var(--amarillo2);
}

tr:hover {
    background-color: var(--naranja2);
    color: var(--morado6);
}

td {
    min-height: 3em;
    max-height: 3em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
}

.tableButton{
    padding: 0.4em;
    font-size: 0.9em;
}

/* TABLA RESERVAS, LIBROS Y PELICULAS */

table .id {
    min-width: 5em;
    max-width: 5em;
    padding-right: 2em;
    text-align: right;
}

table .titulo {
    min-width: 26em;
}

/* TABLA LIBROS */

table .autor {
    min-width: 12em;
}

table .genero {
    min-width: 8em;
}

table .editorial {
    min-width: 9em;
}

table .num_paginas {
    min-width: 4em;
    text-align: right;
}

table .fecha_pub {
    min-width: 7em;
    text-align: center;
}

table .precio {
    min-width: 4em;
    text-align: right;
}

table .reservado {
    min-width: 4em;
    text-align: center;
}

/* TABLA PELICULAS */

table .fecha_estreno {
    max-width: 6em;
}

table .director {
    max-width: 13em;
}

table .actores {
    max-width: 28em;
}

table .genero_pelicula {
    max-width: 6em;
    text-align: center;
}

table .tipo_adaptacion {
    max-width: 6em;
    text-align: center;
}

table .adaptacion_id {
    min-width: 3em;
    padding-right: 2em;
    text-align: center;
}

table .reservada {
    min-width: 4em;
    text-align: center;
}

/* TABLA CLIENTES Y RESERVAS */

table .nombre_cliente {
    min-width: 12em;
}

table .apellidos_cliente {
    min-width: 12em;
}

/* TABLA CLIENTES */

table .editar,
table .eliminar {
    min-width: 8em;
    text-align: center;
}

/* TABLA RESERVAS */
table .activa {
    text-align: center;
}

table .devolver form {
    margin: 0;
}

table .devolver {
    text-align: center;
    vertical-align: middle;
}


.mensajeResultado {
    padding-left: 2em;
}

.textoError {
    font-weight: bold;
    color: red;
}

.textoExito {
    font-weight: bold;
    color: green;
}