body {
    padding: 4em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #F7F6FF;
    color: #373270;
}



h1 {
    background: linear-gradient(to left,
            transparent,
            #FFEAC9 90%);
}

h1,
h2,
h3 {


    letter-spacing: 3px;

    padding: 0.3em;
    padding-left: 2em;
    border-radius: 0.3em;
    margin-bottom: 1em;
}

h1 {
    font-size: xx-large;
   
}

h1,
h2,
h3 {


    letter-spacing: 3px;

    padding: 0.3em;
    padding-left: 2em;
    border-radius: 0.3em;
    margin-bottom: 1em;
}

h1 {
    font-size: xx-large;
}


nav a {
    margin-left: 1em;
    text-align: center;
    font-weight: 600;
    padding: 0.6em;
    min-width: 11em;
    display: inline-block;
    border-radius: 0.5em 0.5em 0.2em 0.2em;
    transition-property: all;
    transition-property: transform;
    transition-duration: 0.5s;
}

nav a:hover {
    box-shadow: 2px 1px 1px #5D54BC;
}

h2 {
    padding-left: 2em;
    padding-top: 1em;
    background: linear-gradient(to left,
            transparent,
            #FFFEF5 90%);
    padding: 1em;
    text-transform: uppercase;
}

form {
    background-color: #fffbf5;
    /*border: 1px outset #FFCB7B;*/
    padding: 1em;
    display: block;
    border-radius: 0.3em;
}

.mensajeResultado {
    padding-left: 2em;
}

.textoError{
    font-weight: bold;
    color: red;
}

.textoExito{
    font-weight: bold;
    color: green;    
}

ul {
    background-color: #FFFEF5;
    border: 2px inset #CECAF8;
    border-radius: 1em;
}

li {
    list-style: none;
    font-size: larger;
    margin: 2em;
    border-radius: 0.3em;
    box-shadow: 10px 5px 5px rgb(205, 205, 205);
}

.datos_cliente {
    display: inline-block;
    min-width: 80%;
    padding: 1em 1em 1em 0em;
}

tr {
    padding: 1em;
    min-height: 2em;
}

a {
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 1px solid #5D54BC;
    border: 2px outset #CECAF8;
    border-radius: 0.3em;
    padding: 0.5em;
    color: #5D54BC;
    background-color: #F7F6FF;
}

tr:nth-child(odd) {
    background-color: #FFEAC9;
}



tr:hover {
    color: #FFFBF5;
    background-color: #8077D7;
}

td {
    min-height: 3em;
    max-height: 3em;
    border-bottom: 1px solid #5D54BC;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;

}

/* TABLA RESERVAS, LIBROS Y PELICULAS */

table .id {
    min-width: 3em;
    padding-right: 2em;
    text-align: right;
}

table .titulo {
    min-width: 26em;
}

/* TABLA LIBROS */

table .autor {
    min-width: 12em;
}

table .genero {
    min-width: 8em;
}

table .editorial {
    min-width: 9em;
}

table .num_paginas {
    min-width: 4em;
    text-align: right;
}

table .fecha_pub {
    min-width: 7em;
    text-align: center;
}

table .precio {
    min-width: 4em;
    text-align: right;
}